html, body, #root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#root {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 482px) {
    #root {
        width: 480px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 602px) {
    #root {
        width: 600px;
        margin: 0 auto;
    }
}
		
.application {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 auto;
	background-color: #fbfbfb;
}

.header {
	display: flex;
    align-items: flex-end;
    font-size: 28px;
    padding: 10px;
    align-self: stretch;
}

@media screen and (min-width: 482px) {
    .header {
        font-size: 42px;
    }
}

.header__logo {
	height: 100px;
}

.panel-bar {
	padding: 10px;
	align-self: stretch;
	background-color: lightgray;
}

.confession {
	display: flex;
	flex-direction: column;
	padding: 10px 30px;
	border-top: 1px solid gray;
	box-shadow: 0 -2px 2px -2px gray;
}

.confession__content {
	padding: 0  0 10px 0;
}

.confession__summary {
	display: flex;
	justify-content: flex-end;
}

.thumb {
	cursor: pointer;
}

.score {
	display: flex;
	align-items: center;
}

.score__value {
	width: 30px;
	text-align: center;
}

.borderless-button {
	border: none;
	background: transparent;
}

.confess {
	display: flex;
}

.confess__input {
	flex: 1;
}